.footer {
    background-image: url("../public/images/footer.jpg");
    position: relative;
    padding-top: 310px;

    .amazing {
        padding: 70px 289px 70px 164px;
        background: #FAFAFA;
        box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
        max-width: 1275px;
        position: absolute;
        top: -172px;
        left: 0;


        &__title {
            font-size: 60px;
            font-weight: 700;
            line-height: 1.23;
            color: #4D533C;
            white-space: nowrap;
            margin-bottom: 50px;
        }

        &__link {
            font-size: 16px;
            font-weight: 700;
            color: #D4D6D4;
            text-decoration: underline;
            transition: color .2s linear;

            &:hover {
                color: #FFD723;
            }
        }
    }

    .contacts {
       font-size: 16px;
       display: flex;
       padding-bottom: 52px;
       border-bottom: 1px solid #5D6544;

       &__item:not(:last-child) {
           margin-right: 128px;
       }

        &__title {
            color: #B6C197;
        }

        &__text {
            margin-top: 16px;
            font-weight: 700;
            color: #ffffff;
        }
    }

    .help {
        margin-top: 60px;
        font-size: 16px;
        display: flex;
        padding-bottom: 60px;
        border-bottom: 1px solid #5D6544;

        &__item:not(:last-child) {
            margin-right: 100px;
        }
    
        &__title {
            text-transform: uppercase;
            font-weight: 600;
            color: #ffffff;
            margin-bottom: 21px;
            white-space: nowrap;
        }

        a {
            display: block;
            line-height: 2.5;
            color: #B6C197;
            text-decoration: none;
            white-space: nowrap;
            transition: color 0.2s linear;

            &:hover {
                color: #FFD723;
            }
        }

        &__text {
            color: #B6C197;
            line-height: 1.62;
        }

        &__email {
            font-size: 24px;
            font-weight: 700;
            color: #ffffff;
            margin-top: 23px;
        }
    }
    
    .social {
        display: flex;
        margin-top: 24px;

        .fab {
            border-radius: 50%;
            background-color: #444A34;
            width: 33px;
            height: 33px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            color: #5E6648;
            margin-right: 11px;
            transition: color 0.2s linear, background 0.2s linear;

            &:hover {
                color: #ffffff;
                background: #FFD723;
            }
        }
    }

    .help__item--last {
        margin-left: 140px;
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 30px;

        .rights {
            color: #B5C096;
            font-size: 14px;
        }
    }
}