$lightblack: #4D533C;

.strategy {
    display: flex;
    padding-bottom: 150px;
    border-bottom: 1px solid rgba(33, 56, 66, 0.0955529);
    margin-bottom: 10px;
    
    &__suptext{
        margin-top: 244px;
        font-size: 14px;
        color: rgba(77, 83, 60, 0.9);
    }

    &__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.28;
        color: $lightblack;
        margin-top: 29px;

        .strategy--yellow {
            background: rgba(255, 215, 35, 0.1);
        }
    }

    &__text {
        font-size: 16px;
        line-height: 1.62;
        margin-top: 35px;
        margin-bottom: 42px;
    }

    a {
        color: #D4D6D4;
        font-weight: 700;
        font-size: 16px;
        text-decoration: underline;
        transition: color .2s linear;

        &:hover {
            color: #FFD723;
        }
    }

    &__side {
        background: #FFFFFF;
        box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
        margin-left: 160px;
    }

    &__item {
        margin-left: 40px;
    }

    &__comment {
        margin-top: 244px;
        font-size: 24px;
        line-height: 1.67;
        color: $lightblack;
        font-style: italic;
    }

    &__ceo {
        display: flex;
        margin-top: 50px;
        margin-bottom: 60px;
        margin-right: 76px;
        align-items: center;

    }

    &__profile {
        margin-left: 30px;
    }

    &__name {
        color: $lightblack;
        font-weight: 700;
        font-size: 22px;
        white-space: nowrap;
    }

    &__position {
        color: #152934;
        font-size: 16px;
        margin-top: 12px;
    }
}

.awesome {
    display: flex;
    align-items: center;
    margin-top: 150px;
    margin-bottom: -55px;

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.33;
    }

    &__text {
        margin-left: 133px;
        font-size: 16px;
        line-height: 1.62;
        color: rgba(33, 56, 66, 0.6);

    }
}